@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/*General content*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

}

    
html{
    font-family: "Cairo",Arial, Helvetica, sans-serif;
    font-size: 1.25rem;

}

.App{
    background: inherit;
}
#root{
    background: inherit;
}

body{
    background: rgb(34, 34, 34);
    color:#fff;
    border-width: thin;
    text-decoration: none;
}
.projects{
width: 100%;
}

.project{
    border: 2px solid #fff;
    max-width: 450px;
    min-width: 280px;
    overflow: auto;
    margin: 0 auto;
    transition: 0.4s ease;
}
.project:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.4s ease;
    }

.projects-cont{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-gap: 100px;
    
}

.project-desc{
    padding: 10px;
    text-align: left;
}

.project-pic-cont{
width:100%;
}
.project-pic{
    width:100%;
    height: 100%;
    border-bottom:2px solid #fff;
    
    }

#sobre{
    flex-direction: row-reverse;
}

.text{
color :rgb(194, 194, 194);
}

.text-format1{
    text-align: left;
    
    width: 100%;
    text-align: left;
}

.sub-text-format{
    max-width: 400px;
    float: left;
    margin-left: 100px;
}

a{
    text-decoration: none;
}

a:visited { text-decoration: none; color:#fff; }
a:hover { text-decoration: none; color:rgb(216, 92, 20); }
a:hover, a:active { text-decoration: none; color:rgb(216, 92, 20) }
.home{
    margin: 0 auto;
    max-width: 1504px;
    background: inherit;
    
}


.main-container{
    margin: 0 auto;
    max-width: 1504px;
    text-align: center;
    background: inherit;
    
    
}

.item-container{
    width: 100%;
    min-height: 700px;
    border-top:1px solid #fff;
    padding: 10px;
    display: inline-block;
}


.skill-title{
    margin-top: 100px;
}
.skillset{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.data-cont{
    display: flex;
    height: 80%;
    text-align: center;
    margin-top: 130px;
}

.small-item{
    min-height: 150px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    word-break: break-word;

}

.item-color1{
    background: rgb(41, 50, 51);
    border-bottom: #fff;
}
.item-color2{
    background: rgb(51, 40, 33);
    border-bottom: #fff;
}
.item-color3{
    background:rgb(45, 51, 50);
    border-bottom: #fff;
}
.item-color4{
    background:rgb(33, 33, 49);
    border-bottom: #fff;
}




.img-cont{
    width: 100%;
    height: 400px;
    
}

.body-img{
    width: 100%;
    height: 100%;
    
}

.skill-img-cont{
    width: 10%;
    height: 10%;
}

.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.reg-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    }

    .skill-img{
        min-width: 80px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        }





/* Navbar content*/
.navbar{
    background: rgb(34, 34, 34);
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(20, 20, 20) ;
    position: sticky;
    z-index: 1000;
    top:0px;
    background:inherit;
}



.nav-container{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.menu-itms{
    display: flex;
    
}

ul {
    list-style-type: none;
    float: left;
    
}



.dropdown{
    margin-right: 1rem;
}

.dropdown:hover{
    cursor: pointer;
    color: rgb(216, 92, 20);

}

.dropdown:hover .dropdown-content{
display: block;
}

.other-itms{
    float:left;
    padding-top: 6px;
    
}
@media all and (max-width:1450px){
    .projects-cont{
        grid-template-columns: auto auto;
        
    }

}
@media all and (max-width:950px){
    .projects-cont{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        
    }
    .project{
        max-width: 350px;
    }
    .project:hover{
        -webkit-transform: none;
        -ms-transform:  none;
        transform:  none;
        transition:  none;
        }

}
@media all and (max-width:800px){
    .data-cont{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 0px;
        
    }
    .reg-img{
        max-width: 352px;
        margin: 0 auto;
        }
        

        .sub-text-format{
            max-width: 400px;
            margin-left: 20px;
            margin:0 auto;
            float: none;
            
        }
        .text-format1{
            height: 300px;
            width: 100%;
        }

        .body-img{
            width: 100%;
            max-height: 300px;
            text-align: center;
        }
       
} 

@media all and (max-width:1150px){
   
    .skillset{
        font-size: 1rem;
    
    }
}

@media all and (max-width:750px){
   

    .skillset{
        width: 25%;
        display: block;
        margin: 0 auto;
        text-align: center;
    
    }
    .skill-img-cont{
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .skill-title{
        width: 40%;
        margin: 0 auto;
    }
}





  .dropdown-content {
    padding: 1px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
    display: none;
    position: absolute;
    background: rgb(34, 34, 34);
    min-width: 160px;
    font-size: 0.8rem;
  }
  .dropdown-item{
      padding: 3px;
      color:#fff
  }
  .dropdown-item:hover{
      color:rgb(216, 92, 20);
      background: rgb(17, 17, 17);;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .footer{
      border-top: 1px solid white;
      margin-top: 40px;
  }

.darkBg{
    background:black;
    left:0;
    top:0;
    transition: 400ms;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: -100%;
    transition: 300ms;
    opacity: 0.8;
}

.contact-info{
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background:#fff;
    top:0;
    color:rgb(36, 36, 36) ;
    transition: 400ms;
    height: 15vh;
    width: 40%;
    position: fixed;
    top: -100%;
    transition: 300ms;
    margin: 0 auto;
    left: 30%;

}

.contact-info.active{
    
    top:30%;
    transition: 300ms;

}

.darkBg.active{
    left:0;
    transition: 300ms;
  }
/*Theme content*/
.light-itm{
    color:rgb(36, 36, 36);
    
}
.light-itm:hover{
    color:blue;
    
}

.dropdown-content .light-itm:hover{
    color:blue;
    background: rgb(223, 223, 223);;
    
}


.sun:hover{
    cursor: pointer;
    color: rgb(216, 92, 20);
    
    
}

.moon{
    color:rgb(36, 36, 36);
    
}

.moon:hover{
    cursor: pointer;
    color: blue;
}

.light-text{
    color: rgb(71, 71, 71);
}

.light-border{
    border:2px solid rgb(41, 41, 41);
}
.light-border-top{
    border-top:1px solid rgb(41, 41, 41);
}
.light-border-pic{
    border-bottom:2px solid rgb(41, 41, 41);
}

.light-mode{
    border-radius: 5px;
    background: #fff;
    color:rgb(36, 36, 36)
}

.light-header{
    border-bottom: 1px solid rgb(209, 209, 209);
}


.light-color1{
    background:rgb(204, 252, 255);
    border-bottom: 1px solid rgb(209, 209, 209);
}
.light-color2{
    background: rgb(255, 227, 211);
    border-bottom: 1px solid rgb(209, 209, 209);
}
.light-color3{
    background:rgb(225, 254, 250);
    border-bottom: 1px solid rgb(209, 209, 209);
}
.light-color4{
    background:rgb(232, 232, 252);
    border-bottom: 1px solid rgb(209, 209, 209);
}
