@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/*General content*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Cairo",Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

body{
    background: rgb(34, 34, 34);
    color:#fff;
}



/* Navbar content*/
.navbar{
    margin: auto;
    width: 82%;
    padding: 10px;
}

.nav-container{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.menu-itms{
    display: flex;
    
}

ul {
    list-style-type: none;
    float: left;
    
}



.dropdown{
    margin-right: 1rem;
}

.dropdown:hover{
    cursor: pointer;
    color: rgb(216, 92, 20);

}

.dropdown:hover .dropdown-content{
display: block;
}

.other-itms{
    float:left
}



  .dropdown-content {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 5px;
    display: none;
    position: absolute;
    background: rgb(34, 34, 34);
    min-width: 160px;
    font-size: 0.7rem;
  }
  .dropdown-item{
      padding: 3px;
      color:#fff
  }
  .dropdown-item:hover{
      color:rgb(216, 92, 20);

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


/*Theme content*/
.light-itm{
    margin-right: 1rem;
    color:rgb(36, 36, 36);
    
}
.light-itm:hover{
    color:blue
}


.sun:hover{
    cursor: pointer;
    color: rgb(216, 92, 20);
    
    
}

.moon{
    color:rgb(36, 36, 36);
    
}

.moon:hover{
    cursor: pointer;
    color: blue;
}

.light-mode{
    border-radius: 5px;
    background: #fff;
    color:rgb(36, 36, 36)
}

.light-mode:hover{
    color:blue;
}